.equity_content{
    width: fit-content;
}

.equity_content .equity_main_content {
}

.equity_main_content .equity_main_section .equity_modules_buttons .buttons_section{
    gap: 10px;
}
.equity_main_content .equity_main_section .equity_modules_buttons .buttons_section button{
    list-style-type:none;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgb(76, 114, 240);
    font-size: medium;
    cursor: pointer;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    margin-left: 5px;
}

.equity_main_content .equity_main_section .equity_modules_buttons .buttons_section button a{
    color: white;  
    text-decoration: none; 
}


.equity_content .equity_main_content .equity_main_section .equity_html_table .pandas_table_container{
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    border-collapse: collapse;
    gap: 3px;
    align-content: center;
    justify-content: center;
    font-size: small;
        
}


/* Style the table inside the container */
.equity_content .equity_main_content .equity_main_section .equity_html_table .pandas_table_container .pandas_table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

/* Style table headers */
.equity_content .equity_main_content .equity_main_section .equity_html_table .pandas_table_container .pandas_table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;

}

/* Style table cells */
.equity_content .equity_main_content .equity_main_section .equity_html_table .pandas_table_container .pandas_table td {
    padding: 10px;
    border: 1px solid #dddddd;
}

/* Add hover effect to table rows */
.equity_content .equity_main_content .equity_main_section .equity_html_table .pandas_table_container .pandas_table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Add a background color to even rows */
.equity_content .equity_main_content .equity_main_section .equity_html_table .pandas_table_container .pandas_table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.file_info{
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

.file_info_filename{
    flex: 1;

}

.file_info_filedate{

    flex: 1;
}

.file_show_buttons{
    display: flex;
    flex-direction: row;
    font-size: medium;
    font-weight: bold;
    padding: 5px;

}

.result_data{
    flex: 1;
}

.equity_file_show_buttons{
    flex: 1;
}

.equity_file_show_buttons button{
    padding: 8px;
    font-size: medium;
    color: white;
    background-color: rgb(63, 103, 238);
    border: none;
    border-radius: 5px;
}